body {

  font-family: "Roboto Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;


}
table {
  font-size: 95%;
}

tr:hover {
  background: #eee;
}


.head {
  font-size: 100%;
  width: 5%;
  background: #000;
  color: #fff;
  text-align: center;
}



.table {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.circle, .circle-null, .circle-legend, .circle-null-legend {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: crimson;
  margin-left: auto;
  margin-right: auto;
  margin-top:5px;
}

.circle-null {
  background: #fff;
  border: solid 1px crimson;
}
.circle-null-legend {
  background: #fff;
  border: solid 1px crimson;
}
.circle-legend, .circle-null-legend {
  width: 12px;
  height: 12px;
}

.legend {
  color: gray;

}

/*tr td:nth-child(1) {
  font-weight: bold;
}*/
.panel-title {
  font-size: 150%;
  font-weight: 400;
  color: #4f4f4f;
}
.description {
  font-size: 90%;
}
