body {

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;


}


table {

    border: 2px black solid;
    font-size: 80%;
}

td {
    border: 1px black solid;
    padding: 5%;
}

tr:hover {
  background: #eee;
}

.labels {
  fill: #000;
  stroke: none;
  font-size: 80%;


}

.head {
  font-size: 80%;
  width: 5%;
  background: #000;
  color: #fff;
}

.table {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: crimson;
  margin-left: auto;
  margin-right: auto;
}

tr td:nth-child(1) {
  font-weight: bold;
}
