.background { 
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: -100;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, black, rgba(0,0,0, 0)), url("images/warningsign.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*    opacity: 0.2;*/
    
}

/*
background: linear-gradient(to right, black, rgba(0,0,0, 0)), url("images/BVHigh.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
