body {
  background: #262626;
  color:#ddd;
  margin: 0;
  font-family: georgia, serif;
  font-size: 16px;

}



.top-nav-holder { 
    position: fixed; 
    top:0; 
    width: 100%;
    min-height: 20px;
    text-align: center; 
     z-index: 500;
background: #91C44A;
    font-family: helvetica, georgia, serif;
}

.top-nav { 
    width: auto; 
/*    padding-top: 20px;*/
/*    border-bottom: solid 1px gray;*/
/*    padding-bottom: 20px;*/
    
/*
    position:fixed; 
    margin-left: auto; 
    margin-right: auto; 
*/
   
    
}

.top-nav-item { 
    float: left;
/*
    padding: 20px;
    padding-left: 20px;
    padding-top: 20px;
*/
    border-right: solid 1px gray;
/*    border-bottom: solid 1px gray;*/
    margin: 0;
    background: #000;
/*    opacity: 0.7;*/
    font-size: 70%;
    text-transform: uppercase;
    }
.top-nav-item:hover { 
    opacity: 1;
    
}

.top-nav-item a { 
    padding: 20px;
    color: #eee;
    text-decoration: none;

    display: block; 
}

a {
  color: #91c44a;
}

a:hover { 
    cursor: hand;
}

/*
.logoimage {
  width: 80%;
  height: 70%;
  margin-left: 10%;
  margin-right: 10%;
  position: fixed;
  top: 0;
  z-index: -100;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/asbestosroof_2.JPG");
}
*/
.container {
    position: absolute; 
    top: 100px;
    height: 2000px;
/*    background: red;*/
  }

.content { 
/*    border: solid 1px yellow;*/
    width: 45%;
    margin-left: 4%;
    margin-top: 5%;
}
  .lead {
      
    width: 90%;
/*      background: green;*/
    
   padding-left: 4%;
    padding-bottom: 0;
  }
.section-no { 


/*    text-transform: uppercase;*/
    font-size: 100%;
    color: #91C44A;
    text-transform: uppercase;
    font-family: Helvetica, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight:bold;
}

.title {
  position: relative;
margin-top: 5%;

/*  left: 12%;*/
  font-size: 250%;
line-height: 120%;
  color: #fff;
    width: 100%;
    margin-bottom: 4%;




}

.title-underline { 
    border-top: solid 1px #4c4c4c;
    margin-top:  20px;
}
.text {
  position:relative;

  font-size: 115%;
    width: 90%;
    float: left;
    padding: 4%;
    padding-top: 0;

    line-height: 150%;

    /*border: solid gray 1px;*/
  }

.blurb {
  font-size: 50%;
  line-height: 130%;
    font-style: italic;
    margin-bottom: 7%;
    margin-top: 7%;
    color: #afafaf;
}

.caption {
        font-size: 70%; 
    line-height: 120%;
    color: #b2b2b2;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 2%;
    
}

.crosshead {
  font-size: 150%;
  line-height: 120%;
  padding-top: 10%;
  color: #91c44a;

}

/*
.highlight {
  color: #91c44a;
  font-size: 60%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.highlight a {
  text-decoration: underline;
  color: #91c44a;
}

.highlight:hover {
  cursor: pointer; cursor: hand;
}
*/

#box {
    position: fixed;
    top: 0;
    z-index: 300;
    margin-left: 50%;
    margin-top: 60px;
    /*background: #eee;*/
    width: 50%;

    height: 100%;
    padding: 0;
    /*border: solid 1px gray;*/
    /*padding-top: 7%;*/
  }
.head {
    font-weight: bold;
    font-size: 110%;
    margin-top: 5%;
  }
.map1 {
    display: none;
  }
.school1 {
    display: none;
  }

.video1 {
/*  display: none;*/
   
}

.mobile { 
    display: none;
}

#map {
	width: 100%;
	height: 100%;
  /*max-height: 600px;*/
	/*border: 1px solid #ccc;*/
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;

}

.maplink1:hover { 
    cursor: hand;
}


.mapoverlay {
  position: absolute;
  top: 15%;
  z-index: 500;
  width: 100%;
  height: 100%;
  max-height: 650px;
  background: #000;
  background: none; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(0,0,0,1),rgba(255,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 75%); /*Standard*/
}

.maplegend {
  position: absolute;
  top: 5%;
  left: 9%;
  z-index: 600;
  height: 100px;
  width: 200px;
  color: gray;
  font-family: "Roboto Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 80%;
  display: none;

}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: blue;
  float: left;
  margin-top: 2px;
  margin-right: 5%;
  opacity: 0.7;
}

.asbestos {
  background: crimson;
}

.legendline {
  margin-top: 2%;
}

.my-label {
    position: absolute;
    width:1000px;
    font-size: 120%;
    color: #fff;

}


.schools-table {
    position: absolute; 
    top: 10px; 
     opacity: 0;
    
}

.schools-table iframe {
        width: 600px;
    border: none;
    min-height: 500px;
       
    
}

.next {
  background: #91c44a;
    font-family: helvetica, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    padding: 3px 10px;
    width: auto; 
/*    float: right;*/
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    margin-top: 10%;
    
    
}
.next-light {
    
    font-weight: normal;
}

.next a { 
    color: #000;
    text-decoration: none;
     
}

.next .fa { 
   
}

.leaflet-container {
    background: #262626;
}

.footer { 
    margin-top: 20%;
    text-align: center;
    color: #AFAFAF;
    font-size: 80%;
    font-family: Helvetica, Arial, "Helvetica Neue", Helvetica, sans-serif;
}




.home a {
    color: #fff;
    text-decoration: none;
}


.maptitle { 
    position: fixed; 
    bottom: 20px;
    right: 20px;
    z-index: 500; 
    color: #000;
    background: #91C44A;
    opacity: 0.9;
    font-family: Helvetica, Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
    margin-left:auto; 
    margin-right: auto;
    display: none;
    font-size:90%;
}

.pmlogo {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 80%;
    
    
}